In [548]:
# IMPORT FILES
import pandas as pd

# File Load
df = pd.read_csv("heroes.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [550]:
# PRINT TOTAL ITEMS
total_items = df.groupby(['Item Name']).count()
total_items = len(total_items)
total_items2= pd.DataFrame([{"Total Unique Items": total_items}])
total_items2

   Total Unique Items
0                 179

In [551]:
# FIND AND DISPLAY AVERAGE PRICE 
average = df["Price"].mean()
avg2 = pd.DataFrame([{"Total Average": average}])
avg3 = avg2.round(2)
avg3

   Total Average
0           3.05

In [552]:
# FIND AND DISPLAY TOTAL PLAYERS
total_players = df.groupby(['SN']).count()
players = len(total_players)
players2 = pd.DataFrame([{"Total Players": players}])
players2

   Total Players
0            576

In [553]:
# FIND AND DISPLAY THE TOTAL NUMBER OF PURCHASES
Item = df["Purchase ID"].count()
pd.DataFrame([{"Total Number of Purchases": Item}])

   Total Number of Purchases
0                        780

In [554]:
# FIND TOTAL REVENUE 
revenue = df["Price"].sum()
revenue2 = pd.DataFrame([{"Total Revenue": revenue}])
revenue2

   Total Revenue
0        2379.77

In [555]:
# CREATE PURCHASING ANALYSIS(TOTAL)
average_price = {'Total Unique Items': total_items,
                'Average Price': [average],
                'Number of Purchases': Item,
                'Total Revenue': revenue,
}
price_avg = pd.DataFrame(average_price)
price_avg = price_avg.round(2)
price_avg["Average Price"] = price_avg["Average Price"].map("${:,.2f}".format)
price_avg

   Total Unique Items Average Price  Number of Purchases  Total Revenue
0                 179         $3.05                  780        2379.77

In [556]:
# Gender Demographics
newdf = df.loc[:,["Gender", "SN", "Age"]]
newdf1 = newdf.drop_duplicates()
total_gender = newdf1["Gender"].value_counts()
total_players = newdf1['SN'].count()
genderp = total_gender/total_players*100
genderp = genderp.round(2)
genderp2 = pd.DataFrame({"Total Gender": total_gender, "Total Percent": genderp})
genderp2

                       Total Gender  Total Percent
Male                            484          84.03
Female                           81          14.06
Other / Non-Disclosed            11           1.91

In [557]:
# TOTAL PURCHASE COUNT BY GENDER
group = df["Gender"].value_counts()
TotalP = pd.DataFrame({"Purchase Count": group})
TotalP

                       Purchase Count
Male                              652
Female                            113
Other / Non-Disclosed              15

In [558]:
# FIND FEMALE INFORMATION 
dfP = df.loc[:,["Price", "Gender", "SN"]]
dfp2 = dfP.set_index("Gender")
female = dfp2.drop('Male')
female1 = female.drop('Other / Non-Disclosed')
totalFP = female1["Price"].sum() # TOTAL HERE
avgF = female1["Price"].mean()# FEMALE AVERAGE PURCHASE
avgpp = female1.nunique()
avgpp2 = totalFP/avgpp['SN']  # AVERAGE PURCHASE PER FEMALE
OTHER3 = pd.DataFrame([{"Avg Purchase Price": avgF, "Total Purchase Value": totalFP, "Avg Total Purchase Per Person": avgpp2 }]).round(2)
OTHER3["Avg Purchase Price"] = OTHER3["Avg Purchase Price"].map("${:,.2f}".format)
OTHER3["Avg Total Purchase Per Person"] = OTHER3["Avg Total Purchase Per Person"].map("${:,.2f}".format)
OTHER3["Total Purchase Value"] = OTHER3["Total Purchase Value"].map("${:,.2f}".format)
total_females = female1["Price"].count()
female_count = pd.DataFrame([{"Purchase Count": total_females}])

In [559]:
# FIND MALE INFORMATION
male = df.loc[:,["Price", "Gender", "SN"]]
male2 = male.set_index("Gender")
male3 = male2.drop('Female')
male4 = male3.drop('Other / Non-Disclosed')
totalMP = male4["Price"].sum() # TOTAL HERE
avgM = male4["Price"].mean() # MALE AVG HERE
avgpM = male4.nunique()
totalmp = totalMP/avgpM['SN']  # AVERAGE PURCHASE PER MALE
OTHER2 = pd.DataFrame([{"Avg Purchase Price": avgM, "Total Purchase Value": totalMP, "Avg Total Purchase Per Person": totalmp}]).round(2)
OTHER2["Avg Purchase Price"] = OTHER2["Avg Purchase Price"].map("${:,.2f}".format)
OTHER2["Avg Total Purchase Per Person"] = OTHER2["Avg Total Purchase Per Person"].map("${:,.2f}".format)
OTHER2["Total Purchase Value"] = OTHER2["Total Purchase Value"].map("${:,.2f}".format)
total_males = male4["Price"].count()
male_count =pd.DataFrame([{"Purchase Count": total_males}])

In [560]:
# FIND OTHER INFORMATION
other = df.loc[:,["Price", "Gender", "SN"]]
other2 = other.set_index("Gender")
other3 = other2.drop('Female')
other4 = other3.drop('Male')
totalOP1 = other4["Price"].sum() # TOTAL HERE
avgO = other4["Price"].mean()# OTHER AVG HERE
avgpO = other4.nunique()
totalop = totalOP1/avgpO['SN'] # AVERAGE PURCHASE PER OTHER
OTHER = pd.DataFrame([{"Avg Purchase Price": avgO, "Total Purchase Value": totalOP1, "Avg Total Purchase Per Person": totalop}]).round(2)
OTHER["Avg Purchase Price"] = OTHER["Avg Purchase Price"].map("${:,.2f}".format)
OTHER["Avg Total Purchase Per Person"] = OTHER["Avg Total Purchase Per Person"].map("${:,.2f}".format)
OTHER["Total Purchase Value"] = OTHER["Total Purchase Value"].map("${:,.2f}".format) 
total_other = other4["Price"].count()
total_other1 =pd.DataFrame([{"Purchase Count": total_other}])

In [561]:
# DISPLAY PURCHASING ANALYSIS(GENDER)
merge1 = pd.merge(OTHER2,OTHER3, how="outer")
merg2 = pd.merge(merge1, OTHER, how="outer")
merg3 = pd.merge(male_count, female_count, how="outer")
merg4 = pd.merge(merg3, total_other1, how="outer")
merg5 = merg4.join(merg2)
gender = {'Gender':['Male', 'Female', 'Other / Non-Discloed']}
gender2 = pd.DataFrame(gender) 
purchasing = gender2.join(merg5)
purchasing.set_index('Gender')

,Purchase Count,Avg Purchase Price,Avg Total Purchase Per Person,Total Purchase Value
Gender,,,,
Male,652,$3.02,$4.07,"$1,967.64"
Female,113,$3.20,$4.47,$361.94
Other / Non-Discloed,15,$3.35,$4.56,$50.19

In [562]:
# BINNING FOR AGE DEMOGRAPHS
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age = df.drop_duplicates('SN')
age['Total Count'] = pd.cut(age['Age'], bins, labels=names)
age1 = age.groupby(['Total Count'])
age2 = age1.count()
age3 = age2[['Age']]
percent = (age3/players)*100
percent1 = percent.round(2)
percent2 = percent1.rename(columns=({"Age": "Percent"}))
final = age3.join(percent2)
final

C:\Users\mldeb\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

             Age  Percent
Total Count
<10           17     2.95
10-14         22     3.82
15-19        107    18.58
20-24        258    44.79
25-29         77    13.37
30-34         52     9.03
35-39         31     5.38
40+           12     2.08

In [563]:
bins1 = [0, 9, 14, 19, 24, 29, 34, 39, 100]
names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df['Total Count'] = pd.cut(df['Age'], bins1, labels=names1)
analysis = pd.DataFrame(df.groupby("Total Count")["Price"].count())
analysis["Avg Purchase Price"] = df.groupby("Total Count")["Price"].sum() / analysis["Price"]
analysis["Total Purchase Value"] = analysis["Avg Purchase Price"] * analysis["Price"]
analysis["Avg Total Purchase Per Person"] = analysis["Total Purchase Value"] / df.groupby("Total Count")['SN'].nunique()
analysis.round(2)

,Price,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Total Count,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [564]:
# CREATE TOP SPENDERS
tops = pd.DataFrame(df.groupby("SN")["Price"].count())
tops["Avg Purchase Price"] = df.groupby("SN")["Price"].sum() / tops["Price"]
tops["Total Purchase Value"] = tops["Price"] * tops["Avg Purchase Price"]
tops["Total Purchase Value"] = tops["Total Purchase Value"].map("${:,.2f}".format)
tops["Avg Purchase Price"] = tops["Avg Purchase Price"].map("${:,.2f}".format)
tops2 = tops.sort_values('Price', ascending=False)
tops2.rename(columns=({"Price": "Purchase Count"})).head()

             Purchase Count Avg Purchase Price Total Purchase Value
SN
Lisosia93                 5              $3.79               $18.96
Iral74                    4              $3.40               $13.62
Idastidru52               4              $3.86               $15.45
Asur53                    3              $2.48                $7.44
Inguron55                 3              $3.70               $11.11

In [626]:
# CREATE MOST POPULAR ITEMS
TPC = df.groupby('Item ID')['Price'].count()
tpc2 = pd.DataFrame(TPC)
tpp = df.groupby('Item ID')['Price'].sum()
item_name = df.iloc[:, 5]
tpc2['Item Name'] = item_name
item_price = df.iloc[:, 6]
tpc2['Item Price'] = item_price
tpc2['Total Purchase Value'] = tpp
tpc2
pc1 = tpc2.rename(columns={'Price': 'Purchase Count'})
mpo = pc1[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]
mpo1 = mpo.sort_values(by=['Purchase Count'], ascending=False)
mpo1.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Despair, Favor of Due Diligence",12,4.60,50.76
145,Hopeless Ebon Dualblade,9,1.33,41.22
108,Malificent Bag,9,1.75,31.77
82,Azurewrath,9,4.40,44.10
19,"Blazefury, Protector of Delusions",8,4.64,8.16

In [621]:
# CREAETE MOST POPULAR ITEMS
mpo2 = mpo.sort_values(by=['Total Purchase Value'], ascending=False)
mpo2.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Despair, Favor of Due Diligence",12,4.60,50.76
82,Azurewrath,9,4.40,44.10
145,Hopeless Ebon Dualblade,9,1.33,41.22
92,"Betrayal, Whisper of Grieving Widows",8,3.94,39.04
103,"Thorn, Satchel of Dark Souls",8,1.33,34.80