In [579]:
# IMPORT FILES
import pandas as pd

# File Load
df = pd.read_csv("heroes.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [580]:
# PRINT TOTAL ITEMS
total_items = df.groupby(['Item Name']).count()
total_items = len(total_items)
total_items2= pd.DataFrame([{"Total Unique Items": total_items}])
total_items2

   Total Unique Items
0                 179

In [581]:
# FIND AND DISPLAY AVERAGE PRICE 
average = df["Price"].mean()
avg2 = pd.DataFrame([{"Total Average": average}])
avg3 = avg2.round(2)
avg3

   Total Average
0           3.05

In [582]:
# FIND AND DISPLAY TOTAL PLAYERS
total_players = df.groupby(['SN']).count()
players = len(total_players)
players2 = pd.DataFrame([{"Total Players": players}])
players2

   Total Players
0            576

In [583]:
# FIND AND DISPLAY THE TOTAL NUMBER OF PURCHASES
Item = df["Purchase ID"].count()
pd.DataFrame([{"Total Number of Purchases": Item}])

   Total Number of Purchases
0                        780

In [584]:
# FIND TOTAL REVENUE 
revenue = df["Price"].sum()
revenue2 = pd.DataFrame([{"Total Revenue": revenue}])
revenue2

   Total Revenue
0        2379.77

In [585]:
# CREATE PURCHASING ANALYSIS(TOTAL)
average_price = {'Total Unique Items': total_items,
                'Average Price': [average],
                'Number of Purchases': Item,
                'Total Revenue': revenue,
}
price_avg = pd.DataFrame(average_price)
price_avg = price_avg.round(2)
price_avg["Average Price"] = price_avg["Average Price"].map("${:,.2f}".format)
price_avg

   Total Unique Items Average Price  Number of Purchases  Total Revenue
0                 179         $3.05                  780        2379.77

In [586]:
# Gender Demographics
newdf = df.loc[:,["Gender", "SN", "Age"]]
newdf1 = newdf.drop_duplicates()
total_gender = newdf1["Gender"].value_counts()
total_players = newdf1['SN'].count()
genderp = total_gender/total_players*100
genderp = genderp.round(2)
genderp2 = pd.DataFrame({"Total Gender": total_gender, "Total Percent": genderp})
genderp2

                       Total Gender  Total Percent
Male                            484          84.03
Female                           81          14.06
Other / Non-Disclosed            11           1.91

In [589]:
# TOTAL PURCHASE COUNT BY GENDER
group = df["Gender"].value_counts()
group

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [593]:
# FIND FEMALE INFORMATION 
dfP = df.loc[:,["Price", "Gender", "SN"]]
dfp2 = dfP.set_index("Gender")
female = dfp2.drop('Male')
female1 = female.drop('Other / Non-Disclosed')
totalFP = female1["Price"].sum() # TOTAL HERE
avgF = female1["Price"].mean()# FEMALE AVG HERE
avgpp = female1.nunique()
totalFP/avgpp['SN']  # AVERAGE PURCHASE PER FEMALE

4.468395061728395

In [597]:
# FIND MALE INFORMATION
male = df.loc[:,["Price", "Gender", "SN"]]
male2 = male.set_index("Gender")
male3 = male2.drop('Female')
male4 = male3.drop('Other / Non-Disclosed')
totalMP = male4["Price"].sum() # TOTAL HERE
avgM = male4["Price"].mean() # MALE AVG HERE
avgpM = male4.nunique()
totalMP/avgpM['SN']  # AVERAGE PURCHASE PER MALE

4.065371900826446

In [600]:
# FIND OTHER INFORMATION
other = df.loc[:,["Price", "Gender", "SN"]]
other2 = other.set_index("Gender")
other3 = other2.drop('Female')
other4 = other3.drop('Male')
totalOP = other4["Price"].sum() # TOTAL HERE
avgO = other4["Price"].mean()# OTHER AVG HERE
avgpO = other4.nunique()
totalOP/avgpO['SN'] kujhk make sure you display the data # AVERAGE PURCHASE PER MALE

SyntaxError: invalid syntax (<ipython-input-600-ffff42fc2849>, line 9)

In [ ]:
# START BINNING FOR AGE DEMOGRAPHS
# group_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)

In [399]:
# AGE DEMOGRAPHS COLUMN
snA = df.loc[:,["SN", "Age"]]
snA1 = snA.drop_duplicates()
snA1.head()

              SN  Age
0        Lisim78   20
1    Lisovynya38   40
2     Ithergue48   24
3  Chamassasya86   24
4      Iskosia90   23