In [65]:
# Dependencies and Setup
import pandas as pd

# File Load
df = pd.read_csv("heroes.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [24]:
# Print Total Items
total_items = df.groupby(['Item Name']).count()
total_items = len(total_items)
total_items2= pd.DataFrame([{"Total Unique Items": total_items}])
total_items2

   Total Unique Items
0                 179

In [67]:
# Print Average Price
average = df.loc[:,"Price"].mean()
avg2 = pd.DataFrame([{average}])
avg3 = avg2.round(2)
avg3 561617  #fix this so it reads out better in the gender demographics

SyntaxError: invalid syntax (<ipython-input-67-b4965db60877>, line 5)

In [23]:
# Display the Total Number of Players
total_players = df.groupby(['SN']).count()
players = len(total_players)
players2 = pd.DataFrame([{"Total Players": players}])
players2

   Total Players
0            576

In [27]:
# Print("Number of Purchases")
Item = df["Purchase ID"].count()
pd.DataFrame([{"Total Number of Purchases": Item}])

   Total Number of Purchases
0                        780

In [31]:
# Find Total Revenue 
revenue = df["Price"].sum()
revenue2 = pd.DataFrame([{"Total Revenue": revenue}])
revenue2

   Total Revenue
0        2379.77

In [66]:
# Create Purchasing Analysis(Total)
average_price = {'Total Unique Items': total_items,
                'Average Price': [avg3],
                'Number of Purchases': Item,
                'Total Revenue': revenue,
}
price_avg = pd.DataFrame(average_price)
price_avg

   Total Unique Items    Average Price  Number of Purchases  Total Revenue
0                 179        0
0  3.05                  780        2379.77

In [99]:
# Find Average of Genders
average = df3['Gender'] / 780 * 100
average3 = average.round(decimals=2)
average3.rename(columns={'0': 'Players Percentage'}, inplace=True)
average2 = pd.DataFrame(average3)
average2

KeyError: 'Gender'

In [100]:
# Find Gender Total Count
# gender = df["df3"].value_counts()
# gender2 = pd.DataFrame(gender)
# gender2.rename(columns={'Gender': 'Total Count'}, inplace=True)
# gender2

In [178]:
# mergeGender =

KeyError: 'Total Count'

In [97]:
df2 = df.groupby(['SN', 'Gender'])['Gender'].nunique()
df3 = df2.count("Gender")
pd.DataFrame(df3)

                       Gender
Gender
Female                     81
Male                      484
Other / Non-Disclosed      11