In [4]:
# Dependencies and Setup
import pandas as pd

# File Load
df = pd.read_csv("heroes.csv")

In [20]:
# Display the Total Number of Players
print("Total Players")
df['Purchase ID'].count()

Total Players

780

In [62]:
# Create Number of Unique Items, Average Price, Number of Purchases, Total Revenue 
df2 = df[["Item Name", "Price", "Purchase ID", "Price"]]

In [57]:
df2.head()

     Purchase ID            SN  Age Gender  Item ID      Item Name  Price
403          403   Frichadar89   24   Male      162  Abyssal Shard   2.67
510          510     Eulolis41   22   Male      162  Abyssal Shard   2.67
209          209    Eulasuir89   22   Male      162  Abyssal Shard   2.67
11            11  Haisrisuir60   23   Male      162  Abyssal Shard   2.67
7              7   Iskjaskst81   20   Male      162  Abyssal Shard   2.67