In [3]:
# Dependencies and Setup
import pandas as pd

# File Load
df = pd.read_csv("heroes.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Print Total Items
total_items = df.groupby(['Item Name']).count()
total_items = len(total_items)
total_items2= pd.DataFrame([{"Total Unique Items": total_items}])
total_items2

   Total Unique Items
0                 179

In [158]:
# Print Average Price
average = df["Price"].mean()
avg2 = pd.DataFrame([{"Total Average": average}])
avg3 = avg2.round(2)
avg3

   Total Average
0           3.05

In [7]:
# Display the Total Number of Players
total_players = df.groupby(['SN']).count()
players = len(total_players)
players2 = pd.DataFrame([{"Total Players": players}])
players2

   Total Players
0            576

In [8]:
# Print("Number of Purchases")
Item = df["Purchase ID"].count()
pd.DataFrame([{"Total Number of Purchases": Item}])

   Total Number of Purchases
0                        780

In [78]:
# Find Total Revenue 
revenue = df["Price"].sum()
revenue2 = pd.DataFrame([{"Total Revenue": revenue}])
revenue2

   Total Revenue
0        2379.77

In [29]:
# Create Purchasing Analysis(Total)
average_price = {'Total Unique Items': total_items,
                'Average Price': [average],
                'Number of Purchases': Item,
                'Total Revenue': revenue,
}
price_avg = pd.DataFrame(average_price)
price_avg = price_avg.round(2)
price_avg["Average Price"] = price_avg["Average Price"].map("${:,.2f}".format)
price_avg

   Total Unique Items Average Price  Number of Purchases  Total Revenue
0                 179         $3.05                  780        2379.77

In [80]:
# find 
newdf = df.loc[:,["Gender", "SN", "Age"]]
newdf1 = newdf.drop_duplicates()
total_gender = newdf1["Gender"].value_counts()
total_players = newdf1['SN'].count()
genderp = total_gender/total_players*100
genderp = genderp.round(2)
genderp2 = pd.DataFrame({"Total Gender": total_gender, "Total Percent": genderp})
genderp2

                       Total Gender  Total Percent
Male                            484          84.03
Female                           81          14.06
Other / Non-Disclosed            11           1.91

In [132]:
group = df["Gender"].value_counts()
group

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [276]:
groupP = df.set_index('Gender')
grouped = groupP["Price"]
groupP

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44
Male,5,Yalae81,22,81,Dreamkiss,3.61
Male,6,Itheria73,36,169,"Interrogator, Blood Blade of the Queen",2.18
Male,7,Iskjaskst81,20,162,Abyssal Shard,2.67
Male,8,Undjask33,22,21,Souleater,1.10
Other / Non-Disclosed,9,Chanosian48,35,136,Ghastly Adamantite Protector,3.58
Male,10,Inguron55,23,95,Singed Onyx Warscythe,4.74
Male,11,Haisrisuir60,23,162,Abyssal Shard,2.67
Male,12,Saelaephos52,21,116,Renewed Skeletal Katana,4.18
Male,13,Assjaskan73,22,4,Bloodlord's Fetish,1.70
Male,14,Saesrideu94,35,165,Bone Crushing Silver Skewer,4.86
Female,15,Lisassa64,21,98,"Deadline, Voice Of Subtlety",2.89
Male,16,Lisirra25,20,40,Second Chance,2.52
Male,17,Zontibe81,21,161,Devine,1.76
Female,18,Reunasu60,22,82,Nirvana,4.90
Male,19,Chamalo71,30,89,"Blazefury, Protector of Delusions",4.64
Male,20,Iathenudil29,20,57,"Despair, Favor of Due Diligence",4.60
Male,21,Phiarithdeu40,20,168,"Sun Strike, Jaws of Twisted Visions",1.48
Other / Non-Disclosed,22,Siarithria38,38,24,Warped Fetish,3.81
Male,23,Eyrian71,40,151,Severance,3.40
Male,24,Siala43,30,141,Persuasion,3.19
Male,25,Lisirra87,29,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
Male,26,Lirtossa84,11,71,Demise,1.61
Male,27,Eusri44,7,96,Blood-Forged Skeletal Spine,3.09
Male,28,Aela59,21,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Male,29,Tyida79,24,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...
Male,750,Iljask75,22,167,"Malice, Legacy of the Queen",3.61
Male,751,Lisjaskan36,11,180,Stormcaller,3.36
Male,752,Mindjasksya61,17,112,Worldbreaker,2.60
Male,753,Frichirranya75,36,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
Female,754,Pheosurllorin41,23,79,"Alpha, Oath of Zeal",4.05
Male,755,Raesty92,12,76,Haunted Bronzed Bludgeon,3.15
Male,756,Ilast79,20,73,Ritual Mace,2.05
Male,757,Eratiel90,18,57,"Despair, Favor of Due Diligence",4.60
Male,758,Iral74,21,182,Toothpick,4.03
Male,759,Tyaelorap29,25,72,Winter's Bite,3.77
Male,760,Aithelis62,21,44,Bonecarvin Battle Axe,2.38
Male,761,Assim27,45,17,"Lazarus, Terror of the Earth",1.70
Male,762,Asur53,26,110,Suspension,1.44
Male,763,Lassilsala30,21,85,Malificent Bag,1.75
Male,764,Saedaiphos46,18,113,Solitude's Reaver,4.07
Male,765,Irith83,18,130,Alpha,2.07
Male,766,Aelastirin39,23,58,"Freak's Bite, Favor of Holy Might",4.14
Female,767,Ilmol66,8,92,Final Critic,4.88
Male,768,Assassasta79,38,92,Final Critic,4.88
Male,769,Ilosian36,15,145,Fiery Glass Crusader,4.58
Male,770,Lirtosia63,34,12,Dawne,1.02
Male,771,Iskossasda43,16,25,Hero Cane,4.35
Male,772,Asur53,26,136,Ghastly Adamantite Protector,3.58
Male,773,Hala31,21,19,"Pursuit, Cudgel of Necromancy",1.02
Male,774,Jiskjask80,11,101,Final Critic,4.19
Female,775,Aethedru70,21,60,Wolf,3.54
Male,776,Iral74,21,164,Exiled Doomblade,1.63
Male,777,Yathecal72,20,67,"Celeste, Incarnation of the Corrupted",3.46
Male,778,Sisur91,7,101,Final Critic,4.19
Male,779,Ennrian78,24,50,Dawn,4.60

In [303]:
gdf = df.loc[:,["Gender", "Price"]]

                    Gender  Price
0                     Male   3.53
1                     Male   1.56
2                     Male   4.88
3                     Male   3.27
4                     Male   1.44
5                     Male   3.61
6                     Male   2.18
7                     Male   2.67
8                     Male   1.10
9    Other / Non-Disclosed   3.58
10                    Male   4.74
11                    Male   2.67
12                    Male   4.18
13                    Male   1.70
14                    Male   4.86
15                  Female   2.89
16                    Male   2.52
17                    Male   1.76
18                  Female   4.90
19                    Male   4.64
20                    Male   4.60
21                    Male   1.48
22   Other / Non-Disclosed   3.81
23                    Male   3.40
24                    Male   3.19
25                    Male   4.23
26                    Male   1.61
27                    Male   3.09
28                    Male   4.32
29                    Male   3.16
..                     ...    ...
750                   Male   3.61
751                   Male   3.36
752                   Male   2.60
753                   Male   4.23
754                 Female   4.05
755                   Male   3.15
756                   Male   2.05
757                   Male   4.60
758                   Male   4.03
759                   Male   3.77
760                   Male   2.38
761                   Male   1.70
762                   Male   1.44
763                   Male   1.75
764                   Male   4.07
765                   Male   2.07
766                   Male   4.14
767                 Female   4.88
768                   Male   4.88
769                   Male   4.58
770                   Male   1.02
771                   Male   4.35
772                   Male   3.58
773                   Male   1.02
774                   Male   4.19
775                 Female   3.54
776                   Male   1.63
777                   Male   3.46
778                   Male   4.19
779                   Male   4.60

[780 rows x 2 columns]