In [4]:
# Dependencies and Setup
import pandas as pd

# File Load
df = pd.read_csv("heroes.csv")

In [91]:
# Display the Total Number of Players
print("Total Players")
df['Purchase ID'].count()

Total PlayersPurchase ID

AttributeError: 'NoneType' object has no attribute 'count'

In [98]:
# Create Number of Unique Items, Average Price, Number of Purchases, Total Revenue 
df2 = df.loc[:, ["Item Name", 'Item', "Purchase ID", "Price"]].head()

In [102]:
# print("Number of Purchases")
Item = df["Purchase ID"].count()
print (Item)

780

In [114]:
# Calculate Total of Price
Price = df["Price"].sum()
Price

2379.77

In [103]:
df2.head()

                                   Item Name  Item  Purchase ID  Price
0  Extraction, Quickblade Of Trembling Hands   NaN            0   3.53
1                          Frenzied Scimitar   NaN            1   1.56
2                               Final Critic   NaN            2   4.88
3                                Blindscythe   NaN            3   3.27
4                                       Fury   NaN            4   1.44