In [175]:
# Dependencies and Setup
import pandas as pd

# File Load
df = pd.read_csv("heroes.csv")
df2 = df.dropna(how='any')
df2.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [174]:
# Print Total Items
total_items = df.groupby(['Item Name']).count()
total_items = len(total_items)
total_items

179

In [128]:
# Print Average Price
average = df.loc[:,"Price"].mean()
print(round(average))5224

SyntaxError: invalid syntax (<ipython-input-128-e9044880c6a0>, line 3)

In [99]:
# Display the Total Number of Players
total_players = df.groupby(['SN']).count()
players = len(total_players)
players

576

In [58]:
# Print("Number of Purchases")
Item = df["Purchase ID"].count()
print("Total Number of Purchases: ", Item)

Total Number of Purchases:  780

In [59]:
revenue = df["Price"].sum()
revenue

2379.77

In [107]:
totalP = {'Total Players': players}
# players = pd.DataFrame(totalP)
totalP

{'Total Players': 576}

In [138]:
average_price = {'Total Unique Items': total_items,
                'Average Price': ['3.05'],
                'Number of Purchases': Item,
                'Total Revenue': revenue,
}
price_avg = pd.DataFrame(average_price)
price_avg

   Total Unique Items Average Price  Number of Purchases  Total Revenue
0                 179          3.05                  780        2379.77

In [170]:
# Find Average of Genders
average = gender2['Total Count'] / 780 * 100
average3 = average.round(decimals=2)
average3.rename(columns={'0': 'Players Percentage'}, inplace=True)
average2 = pd.DataFrame(average3)
average2

                           0
Male                   83.59
Female                 14.49
Other / Non-Disclosed   1.92

In [176]:
# Find Gender Total Count
gender = df2["Gender"].value_counts()
gender2 = pd.DataFrame(gender)
gender2.rename(columns={'Gender': 'Total Count'}, inplace=True)
gender2

                       Total Count
Male                           652
Female                         113
Other / Non-Disclosed           15

In [178]:
mergeGender = pd.merge(gender2, average2, on='Total Count')

KeyError: 'Total Count'